# Pleiades test-production buildout

[home]
eggcarton = /home/zope/pleiades/eggcarton

[buildout]
extends =
    buildout.cfg
versions = versions
parts -= 
    agx-scripts
parts +=
    zeoserver
    instance1
    instance2
    nginx-build
    varnish-build
    cache
    balancer
    logrotate.conf
    supervisor
find-links =
    ${home:eggcarton}
    http://dist.plone.org/
    http://effbot.org/downloads
#    http://atlantides.org/eggcarton/

[downloads]
nginx = http://sysoev.ru/nginx/nginx-0.7.30.tar.gz
varnish = http://downloads.sourceforge.net/varnish/varnish-2.0.4.tar.gz

[instance-settings]
environment-vars =
    LD_LIBRARY_PATH ${libgeos:location}/lib:${libxml2:location}/lib:${libxslt:location}/lib:${libspatialindex:location}/lib
    DYLD_LIBRARY_PATH ${libgeos:location}/lib:${libxml2:location}/lib:${libxslt:location}/lib:${libspatialindex:location}/lib
    GMAPS_KEY ABQIAAAAtVyXL2o7HAFbw73xSniLfhQ2dHhbVVaz2wAxXxViKF6CJLVMtxSsxoh3qq0OgSXQYgR-U7rv12D-cQ
eggs =
    ${buildout:eggs}
    ${pyproj:eggs}
    ${shapely:eggs}
    Products.CacheSetup
    plonetheme.notredame
    pleiades.notredame
zcml =
    pleiades.policy
    pleiades.portlet.references
    pleiades.notredame
products =
    ${buildout:directory}/products
    ${productdistros:location}
user = admin:admin
zodb-cache-size = 5000
zeo-client-cache-size = 300MB
debug-mode = off
zope2-location = ${zope2:location}
zeo-client = true
zeo-address = ${zeoserver:zeo-address}
effective-user = ${users:zope}
http-address = $${:http-address}

[supervisor-settings]
user = admin
password = admin

[plone-sites]
main = plone

[hosts]
cache = 127.0.0.1
supervisor = 127.0.0.1
balancer = 127.0.0.1
instance1 = 127.0.0.1
instance2 = 127.0.0.1

[ports]
cache = 8101
balancer = 8201
zeo-server = 8301
instance1 = 8401
instance2 = 8402
supervisor = 9901

[users]
cache = zope
balancer = zope
zope = zope
supervisor = zope

[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = ${ports:zeo-server}
effective-user = ${users:zope}

[instance1]
recipe = collective.recipe.zope2cluster
instance-clone = instance-settings
http-address = ${hosts:instance1}:${ports:instance1}

[instance2]
recipe = collective.recipe.zope2cluster
instance-clone = instance-settings
http-address = ${hosts:instance2}:${ports:instance2}
zope-conf-additional +=
    enable-product-installation false

[nginx-build]
recipe = zc.recipe.cmmi
url = ${downloads:nginx}

[varnish-build]
recipe = zc.recipe.cmmi
url = ${downloads:varnish}

[cache]
recipe = plone.recipe.varnish
daemon = ${buildout:directory}/parts/varnish-build/sbin/varnishd
bind = ${hosts:cache}:${ports:cache}
backends = ${hosts:balancer}:${ports:balancer}
cache-size = 1G
user = ${users:cache}
mode = foreground

[balancer]
recipe = gocept.nginx
nginx = nginx-build
configuration = 
    user ${users:balancer};
    error_log ${buildout:directory}/var/log/balancer-error.log warn;
    worker_processes 1;
    daemon off; 
    events {
        worker_connections 1024;
    }
    http {
        upstream zope {
            server ${hosts:instance1}:${ports:instance1} max_fails=3 fail_timeout=30s;
            server ${hosts:instance2}:${ports:instance2} max_fails=3 fail_timeout=30s;
        }
        server {
            listen ${hosts:balancer}:${ports:balancer};
            server_name ${hosts:balancer};
            access_log off;
            rewrite ^/(.*)  /VirtualHostBase/http/${hosts:balancer}:${ports:balancer}/${plone-sites:main}/VirtualHostRoot/$1 last;
            location / {
                proxy_pass http://zope;
            }
        }
    }
    
[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = ${supervisor-settings:user}
password = ${supervisor-settings:password}
serverurl = http://${hosts:supervisor}:${ports:supervisor}
programs =
    10 zeo       ${zeoserver:location}/bin/runzeo                  true ${users:zope}
    20 instance1 ${buildout:directory}/parts/instance1/bin/runzope true ${users:zope}
    20 instance2 ${buildout:directory}/parts/instance2/bin/runzope true ${users:zope}
    30 cache     ${buildout:directory}/bin/cache                   true ${users:cache}
    40 balancer  ${nginx-build:location}/sbin/nginx [-c ${balancer:run-directory}/balancer.conf] true ${users:balancer}

[logrotate.conf]
recipe = zc.recipe.deployment:configuration
text = 
    rotate 4
    weekly
    create
    compress
    delaycompress

    ${buildout:directory}/var/log/instance1*.log {
        sharedscripts
        postrotate
            /bin/kill -USR2 $(cat ${buildout:directory}/var/instance1.pid)
        endscript
    }
    
    ${buildout:directory}/var/log/instance2*.log {
        sharedscripts
        postrotate
            /bin/kill -USR2 $(cat ${buildout:directory}/var/instance2.pid)
        endscript
    }
    
    ${buildout:directory}/var/log/zeoserver.log {
        postrotate
            /bin/kill -USR2 $(cat ${buildout:directory}/var/zeoserver.pid)
        endscript
    }
    
    ${buildout:directory}/var/log/balancer*.log {
        sharedscripts
        postrotate
            /bin/kill -USR1 $(cat ${balancer:run-directory}/balancer.pid)
        endscript
    }
